<!DOCTYPE html>
<html lang="en" dir="ltr"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function thank(){
            alert("Thank you for shopping with us!");
        }
    </script>
    <style media="screen">
    #cartitemdiv{
      width:1300px;
      background-color:red;
      margin-left:300px;
    }
    .carousel-item img{
    max-width: 100%;
    height:auto;
    }
    .card{
      float:left;
      margin-left: 50px;
      margin-top:10px;
    }
    .loginBtn{
      color:red;
      margin-left: 1800px;
      font-size: 30px;
    }
    .welcome{
      margin-left: 500px;
    }
    #searchform{
      margin-left: 1000px;
    }
    .nav-item{
      margin-left: 50px;
    }
    #checkoutdiv{
        margin-left: 90%;
        margin-top: 550px;
    }
    </style>
  </head>
  <body>
    <section id="cover">
        <div id="cover-caption">
            <div class="container">
                <div th:if="${session.username == null}" class="col-sm-12 col-sm-offset-12">
                    <h1 class="welcome">Welcome to IT354 Online store</h1>
                    <span class="loginBtn"><a th:href="@{http://localhost:8010/log}"}>login</a></span>
                </div>
                <div th:if="${session.username != null}" class="col-sm-12 col-sm-offset-12">
                    <h1 class="welcome">Welcome to IT354 Online store</h1>
                    <span class="loginBtn"><a th:text="${session.username}" th:href="@{http://localhost:8010/cartIndex}"}>login</a></span>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navigation</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">assignments</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/search?info=sport}">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/search?info=food}">food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/search?info=baby}">baby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/search?info=housing}">housing</a>
                </li>
            </ul>
            <form class="d-flex" id="searchform">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <div id="cartitemdiv" class="col-lg-12 col-md-6 mb-4 mb-md-0">
        <div th:each="ct:${cartitems}">
            <div class="card" style="width: 18rem;">
                <img th:src="${ct.image}"  class="card-img-top" alt="error" width="150px" height="180px">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Product Name: '+${ct.itemtitle}"></h5>
                    <p class="card-text" th:text="'Quantity: '+${ct.productquantity}"></p>
                    <span class="card-text" th:text="'total Value: $'+${ct.val}"></span>
                    <br/>
                    <a th:href="@{'/cart/deleteCartItem?id='+${ct.id}+'&uid='+${session.uid}}" class="btn btn-primary">Delete Item</a>
                </div>
            </div>
        </div>
    </div>

    <div id="checkoutdiv">
        <a th:href="@{'/cart/checkout?uid='+${session.uid}}" class="btn btn-primary" onclick="thank()">Check Out</a>
    </div>
  </body>

  <footer class="footer fixed-bottom bg-light text-center text-lg-start ">

      <div class="container p-4">

          <div class="row">

              <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Footer Content</h5>

                  <p>
                      IT354 online store will get you anything you need for your home and life!
                  </p>
              </div>

              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Class</h5>

                  <ul class="list-unstyled mb-0">
                      <li>
                          <a href="#!" class="text-dark">IT354</a>
                      </li>

                  </ul>
              </div>

              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-0">Author</h5>

                  <ul class="list-unstyled">
                      <li>
                          <a href="#!" class="text-dark">Yubai Zhang</a>
                      </li>

                  </ul>
              </div>

          </div>

      </div>



      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2021 Copyright:
          <a class="text-dark" href="#">Yubai Zhang @ IT354 Section01</a>
      </div>

  </footer>
</html>
