<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ClassProject.springboot.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.ClassProject.springboot.model.Cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="totalvalue" jdbcType="DOUBLE" property="totalvalue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, totalvalue
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cart
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="selectCartItems" parameterType="java.lang.Integer" resultMap="cartitemmap">
    select
    <include refid="Base_Column_List" />
    from cartitem
    where cartid = #{cid,jdbcType=INTEGER}
  </select>

  <resultMap id="cartitemmap" type="com.ClassProject.springboot.model.CartItem">
    <id column="id" property="id" />
    <result column="cartid" property="cartid" />
    <result column="productid" property="productid" />
    <result column="productquantity" property="productquantity" />
    <result column="val" property="val" />
    <result column="image" property="image" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ClassProject.springboot.model.Cart">
    insert into cart (id, uid, totalvalue
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{totalvalue,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ClassProject.springboot.model.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="totalvalue != null">
        totalvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="totalvalue != null">
        #{totalvalue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ClassProject.springboot.model.Cart">
    update cart
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="totalvalue != null">
        totalvalue = #{totalvalue,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ClassProject.springboot.model.Cart">
    update cart
    set uid = #{uid,jdbcType=INTEGER},
      totalvalue = #{totalvalue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>